@using HotelBookingAdmin.Models
@{ 
  List<KhachHang> khachHangs = (List<KhachHang>) ViewData["khachHangs"];
  List<Phong> phongTrongs = (List<Phong>) ViewData["phongTrongs"];
  List<NhanVien> nhanViens = (List<NhanVien>)ViewData["nhanViens"];
  List<DichVu> dichVus = (List<DichVu>)ViewData["dichVus"];
}

<div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <img class="img-fluid d-block m-auto" id="modal-img" src="https://taker.io/wp-content/uploads/2019/10/Online-Ordering-System-for-Restaurants-min.png" style="width: 200px;" />

        <form action="" method="post" class="mt-3">
          <div class="form-group row">
            <label for="modal-edit-no-text" class="col-sm-4 col-form-label">No.</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="modal-edit-no-text" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-employee-no-text" class="col-sm-4 col-form-label">Employee name</label>
            <div class="col-sm-8">
              <select id="modal-edit-employee-no-text" class="form-control">
                @foreach (NhanVien nv in nhanViens)
                {
                  <option value="@nv.MaNV">@nv.TenNV</option>
                }
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-email-text" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
              <select id="modal-edit-email-text" class="form-control">
                @foreach (KhachHang kh in khachHangs)
                {
                  <option value="@kh.email">@kh.email</option>
                }
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-name-text" class="col-sm-4 col-form-label">Room name</label>
            <div class="col-sm-8">
              <select id="modal-edit-name-text" class="form-control">
                @foreach (Phong phong in phongTrongs)
                {
                  <option value="@phong.tenPhong">@phong.tenPhong</option>
                }
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-status-text" class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <select id="modal-edit-status-text" class="form-control">
                <option value="unpaid">unpaid</option>
                <option value="paid">paid</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-add-name-text" class="col-sm-4 col-form-label">Service name</label>
            <div class="col-sm-8 row" id="edit-services-checkbox-container">
              @foreach (DichVu dv in dichVus)
              {
                <div class="ml-4 col-sm-5">
                  <input class="form-check-input edit-checkbox" type="checkbox" value="@dv.maDichVu" id="edit-service-@dv.maDichVu" name="@dv.maDichVu">
                  <label class="form-check-label" for="edit-service-@dv.maDichVu">
                    @dv.tenDichVu
                  </label>
                </div>
              }
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-booking-date-text" class="col-sm-4 col-form-label">Booking date</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="modal-edit-booking-date-text" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-checkout-date-text" class="col-sm-4 col-form-label">Check-out date</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="modal-edit-checkout-date-text" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-total-money-text" class="col-sm-4 col-form-label">Total money($)</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="modal-edit-total-money-text" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="edit-submit-btn">Submit</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

