@using HotelBookingAdmin.Models
@{
  ViewData["Title"] = "Profile";
  Layout = "~/Views/Shared/MainLayout/_Layout.cshtml";
  NhanVien nv = (NhanVien)Session["NhanVien"];
}

@{ Html.RenderPartial("PartialLayout/_PageHeader", "Profile"); }

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="~/Assets/img/user4-128x128.jpg"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">@nv.TenNV</h3>

            <p class="text-muted text-center profile-role">@nv.MaCV.ToUpper()</p>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> DOB</strong>

            <p class="text-muted profile-dob">
              @nv.NgaySinh.Value.ToShortDateString()
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted profile-address">@nv.DiaChi_NV</p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Email</strong>

            <p class="text-muted profile-email">@nv.Email</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="timeline">
                <!-- The timeline -->
                <div class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <div class="time-label">
                    <span class="bg-danger">
                      10 Feb. 2014
                    </span>
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-envelope bg-primary"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="far fa-clock"></i> 12:05</span>

                      <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                      <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                      </div>
                      <div class="timeline-footer">
                        <a href="#" class="btn btn-primary btn-sm">Read more</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-user bg-info"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                      <h3 class="timeline-header border-0">
                        <a href="#">Sarah Young</a> accepted your friend request
                      </h3>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-comments bg-warning"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                      <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                      </div>
                      <div class="timeline-footer">
                        <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <div>
                    <i class="far fa-clock bg-gray"></i>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                <form class="form-horizontal" action="/Customer/UpdateEmployee">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Fullname</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" placeholder="Fullname" value="@nv.TenNV">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Gender (Female/Male)</label>
                    <div class="col-sm-1">
                      @if (nv.GioiTinh == "Female")
                      {
                        <input type="checkbox" class="form-control" id="inputGender" placeholder="Gender" checked style="width: 25px;" />
                      }
                      else
                      {
                        <input type="checkbox" class="form-control" id="inputGender" placeholder="Gender" style="width: 25px;" />
                      }

                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">DOB</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" id="inputDOB" placeholder="DOB" value="@nv.NgaySinh.Value.ToString("yyyy-MM-dd")" min="@DateTime.Now.AddYears(-25).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd")" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="@nv.Email" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Phone number</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" id="inputPhone" placeholder="Phone number" maxlength="11" value="@nv.SDT_NV" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputAddress" placeholder="Address" value="@nv.DiaChi_NV" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPass" placeholder="Password" value="@nv.Password" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

@{ Html.RenderPartial("PartialLayout/_Scripts"); }

<script>
  $(".btn-danger").click(function (e) {
    e.preventDefault();

    const emailReg = validateEmail($("#inputEmail").val());
    const phoneNumberReg = validatePhoneNumber($("#inputPhone").val());

    if (!phoneNumberReg) {
      $(document).Toasts('create', {
        title: 'Fail',
        autohide: true,
        delay: 2000,
        body: "Incorrect phone number format!!!",
        class: "bg-danger"
      })
      return false;
    }

    if (!emailReg) {
      $(document).Toasts('create', {
        title: 'Fail',
        autohide: true,
        delay: 2000,
        body: "Incorrect email format!!!",
        class: "bg-danger"
      })
      return false;
    }

    const nhanVien = {
      MaNV: @nv.MaNV,
      MaCV: "@nv.MaCV",
      TenNV: $("#inputName").val(),
      GioiTinh: $("#inputGender").prop("checked") ? "Female" : "Male",
      NgaySinh: $("#inputDOB").val(),
      Email: $("#inputEmail").val(),
      SDT_NV: $("#inputPhone").val(),
      DiaChi_NV: $("#inputAddress").val(),
      Password: $("#inputPass").val()
    }

    $.ajax({
      url: '/Customer/UpdateEmployee',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(nhanVien)
    }).done(function (result) {
      updateProfile(result.loginNv);
    })
  })

  function updateProfile(loginNv) {
    $(document).Toasts('create', {
      title: 'Success',
      autohide: true,
      delay: 2000,
      body: "Your profile is successfully updated!!!",
      class: "bg-success"
    })

    $(".profile-username").text(loginNv.TenNV);
    $(".profile-role").text(loginNv.MaCV.toUpperCase());

    const dob = new Date(parseInt(loginNv.NgaySinh.substr(6)));
    $(".profile-dob").text(formatDate(dob));

    $(".profile-address").text(loginNv.DiaChi_NV);
    $(".profile-email").text(loginNv.Email);

    $(".status-name").text(loginNv.TenNV);
  }

  function formatDate(date) {
    const day = date.getDate();       // yields date
    const month = date.getMonth() + 1;    // yields month (add one as '.getMonth()' is zero indexed)
    const year = date.getFullYear();  // yields year

    // After this construct a string with the above results as below
    return [month, day, year].join("/");
  }

  function validatePhoneNumber(str) {
    const regex = /(09|01[2|6|8|9])+([0-9]{8})\b/g;
    return regex.exec(str);
  }

  function validateEmail(str) {
    const regex = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return regex.exec(str);
  }


  $("#inputPhone").keypress(function (e) {
    if (!isNumber(e)) return false;
  })

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      return false;
    }
    return true;
  }
</script>

